<main class="container">
  <div class="title">
    <h1>{{ "app.title" | translate }}</h1>

    <mat-form-field class="form-control">
      <mat-label>{{ "app.selectedLanguage" | translate }}</mat-label>
      <mat-select
        [ngModel]="selectedLanguage"
        (ngModelChange)="onSelectLanguage($event)"
      >
        @for (lang of languageOptions; track lang) {
        <mat-option [value]="lang">{{ lang.toUpperCase() }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="form-control">
    <!-- <mat-label>Height(cm)</mat-label> -->
    <mat-label>{{ "app.height" | translate }}</mat-label>
    <input
      matInput
      type="number"
      min="0"
      [(ngModel)]="height"
      [name]="'height'"
    />
    <mat-error>{{ "app.valueError" | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form-control">
    <!-- <mat-label>Weight(kg)</mat-label> -->
    <mat-label>{{ "app.weight" | translate }}</mat-label>
    <!-- <input matInput type="number" min="0" [(ngModel)]="weight" [name]="'weight'" /> -->
    <input matInput type="number" min="0" [(ngModel)]="weight" name="weight"/>
    <!-- <mat-error>{{ "app.valueError" | translate }}</mat-error> -->
  </mat-form-field>

  <div class="btn-container">
    <!-- <button mat-flat-button color="primary" [disabled]="!(height && height > 0 && weight && weight > 0)" (click)="onCalculate()">{{ "app.calculate" | translate }}</button> -->
    <button
      mat-flat-button
      color="primary"
      [disabled]="!(height && height > 0)"
      (click)="onCalculate()"
    >
      {{ "app.calculate" | translate }}
    </button>
    @if (result) {
    <p>
      {{ "app.resultPhrase" | translate }} <strong>{{ result }}</strong>
    </p>
    }
  </div>
</main>
